body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    overflow: hidden;
}
nav{
    width: 95%;
    margin: 0 auto;
    height: 8vh;
    padding: 0 3%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-header{
    color: #4fa3a8;
    font-weight: 100;
    font-size: 2.2em;
    letter-spacing: 2px;
}
#nav-header-span{
    letter-spacing: 1px;
    font-weight: 900;
    text-shadow: 1px 1px #4fa3a8;
}
.nav-imgs{
    height: 50%;
    width: 50%;
}
#dvrpc-logo{
    display: block;
    float: right;
}
main{
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(242,242,242,1) 51%, rgba(79,163,168,0.7) 90%);
}
ul{
    background: #fff;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    width: 25%;
    border-radius: 3px;
    padding: 0;
}
li{
    list-style-type: none;
    text-align: center;
    padding: 3%;
    width: 94%;
    border-bottom: 1px solid #4fa3a8;
}
li:last-child{
    border-bottom: none;
}
h1{
    font-size: 4em;
}
a{
    padding-top: 1%;
    font-size: 1.4em;
}