#nav-header{
    font-size: 1.2em;
}
.icon-set-img{
    width: 36px;
    height: 36px;
}
.icon-set-p{
    font-size: 0.67em;
}
.indicators-icons{
    width: 60%;
    height: 60%;
}
.indicators-title{
    font-size: 0.67em;
}