/****************************************/
/*********** General Purpose ***********/
* {
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    line-height: 1.5;
}
.hidden{
    display: none;
}
.inactive{
    background: #dadada !important;
    pointer-events: none;
    opacity: 0.5;
    cursor: auto;
}


/************************************/
/*********** subpage.css************/
a{
    background-color: transparent;
    color: inherit;
}
hr{
    border: 0;
    border-top: 1px solid #ddd;
    height: 0;
    width: 100%;
    box-sizing: content-box;
    clear: both;
}
select{
    margin: 0;
    font: inherit;
    color: inherit;
    text-transform: none;
}
fieldset{
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}


/*******************************/
/*********** Header ************/
header{
    position: fixed;
    top: 0;
    padding: 0 3%;
    height: 8vh;
    width: 94%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
#logo-help-wrapper{
    display: inherit;
    align-items: center;
}
#tp-logo{
    max-height: 50px;
}
#help-btn{
    margin-left: 30px;
    color: #4fa3a8;
    border-color: #f7f7f7;
    border-radius: 50%;
    background: none;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 4px 14px;
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition-timing-function: linear;
}
#help-btn:hover{
    cursor: pointer;
    background: #4fa3a8;
    color: #f7f7f7;
}
#dvrpc-logo{
    display: block;
    float: right;
    max-height: 95%;
}


/********************************************/
/**************** Splash Page ***************/
#splash-page{
    margin-top: 8vh;
    padding: 3%;
    /* og grey */
    /* background: #e9e9e9; */
    /* lighter version of the main teal... */
    background: rgba(79,163,168,0.1);
    visibility: visible;
}
#tp-header{
    margin-top: 0;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}
#tp-header-name{
    color: #4fa3a8;
    font-weight: 800;
}
.splash-text{
    width: 700px;
    margin: 2% auto;
    line-height: 1.7rem;
}
details{
    margin-bottom: 2%;
}
details[open] summary {
    color: #4fa3a8;
    font-weight: 700;
}
summary{
    font-size: 1.3rem;
}
summary:hover{
    cursor: pointer;
}
.gif-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gif-figure{
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    width: 300px;
}
.gif-caption{
    padding: 1% 3%;
    font-size: 0.8rem;
    max-width: 100%;
}
#to-grid{
    background: #4fa3a8;
    padding: 5px 10px;
    color: #f7f7f7;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}
#to-grid:hover{
    cursor: pointer;
}

/********************************************/
/*********** Indicator Dashboard ***********/
.indicators-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    min-height: calc(92vh - 16px);
    border-top: 8px solid white;
    margin-bottom: 8px;
    visibility: hidden;
    background: #fff;
}
.indicators-nav{
    position: absolute;
    height: 100%;
    width: 15vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: width 1s;
    -webkit-transition:  width 1s;
    -moz-transition:  width 1s;
    -o-transition:  width 1s;
    transition-timing-function: linear;
    overflow-y: auto;
}
.category-active{
    margin-right: 0 !important;
    color: #f7f7f7 !important;
}
.icon-set{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 8px;
    margin-right: 16px;
    height: 20%;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition-timing-function: linear;
    overflow-y: hidden;
}
.icon-set:last-child{
    margin-bottom: none;
}
#econo-icon{
    background: #f0cfd0;
    color: #bd2556;
}
#enviro-icon{
    background: #e0e6cf;
    color: #7b9d3e;
}
#comm-icon{
    background: #c6d6ea;
    color: #006ba6;
}
#transpo-icon{
    background: #f9dcc4;
    color: #de6e1d;
}
#equity-icon{
    background: #c6b7cd;
    color: #582267;
}
.indicators-nav div:last-child{
    margin-bottom: 0;
}
.icon-set-img{
    align-self: center;
    height: 100px;
    width: 100px;
}
.icon-set:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-bottom: hidden;
}
.icon-set-p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
.indicators-grid{
    height: calc(92vh - 16px);;
    width: 85%;
    background: #e9e9e9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin-left: 15vw;
    transition: margin-left 1s;
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -o-transition: margin-left 1s;
    transition-timing-function: linear;
}
.indicators-grid-item{
    position: relative;
    border-radius: 3px;
    background: #4fa3a8;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    margin: 1%;
    width: 12vw;
    height: 12vw;
}
.indicators-grid-item:hover{
    cursor: pointer;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.7);
}
.indicators-grid-item:active{
    box-shadow: none;
}
.indicators-icons{
    display: block;
    width: 71%;
    height: 71%;
    margin: 0 auto;
    font-size: 0.6em;
}
#connections-icon{
    display: block;
    width: 85%;
    margin: 30% auto 0;
}
.indicators-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    font-size: 0.9em;
    /* icons are 71% so text takes up the remaining 29% */
    height: 29%;
    text-align: center;
    color: #f7f7f7;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}
.flipside{
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #f7f7f7;
    font-size: 0.8em;
}
.flipside-img{
    height: 35px;
    width: 35px;
    margin: 0 auto;
}
.flipside-text{
    padding: 0 1%;
}


/****************************************/
/*********** Indicator Pages ***********/
.indicators-snippet{
    opacity: 1;
    /* fallback bg for browsers that don't support linear gradient */
    background: #f2f2f2;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 25vh);
    color: #050709;
    /*15vw for the width of the sidebar (for some reason this isn't a flex situation? what?)*/
    padding-left: 15vw;
    width: 100%;
    overflow-y: auto;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition-timing-function: linear;
}
#indicator-header-wrapper{
    max-width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.indicator-header{
    text-align: center;
    font-size: 2em;
    margin: 0 25px 0 0;
}
.indicator-content-hr{
    margin: 4% 0 2% 0;
}
.indicator-subheader{
    text-align: center;
    font-size: 1.3em;
}
.indicator-header-hr{
    margin: 1% 0;
}
.indicator-category-icons{
    display: flex;
    justify-content: center;
}
.snippet-categories{
    margin-right: 3%;
    height: 36px;
}
#description-wrapper{
    padding: 20px 0 3% 0;
    width: 75%;
    max-width: 900px;
    margin: 0 auto;
}
#description-wrapper-tabs{
    display: flex;
    justify-content: space-between;
}
.description-wrapper-tab-headers{
    width: 25%;
    text-align: center;
    margin: 0;
    padding: 2% 5px;
    font-size: 1.2em;
}
.description-wrapper-tab-headers:hover{
    cursor: pointer;
    text-decoration: underline;
}
.active-tab{
    background: #f9f9f9;
    box-shadow: 1px -1px 4px 1px rgba(0,0,0,0.2);
    overflow: hidden;
}
#indicator-description-container{
    margin: 0;
    background: #f9f9f9;
    padding: 3% 5%;
}
.back-to-dash{
    color: #222;
    display: none;
    width: 100%;
    text-align: center;
    padding: 17px 0;
    margin: 0;
    font-size: 1.4em;
    cursor: pointer;
}
.related-indicators{
    display: none;
    border-top: 1px solid #f7f7f7;
    width: 100%;
    text-align: center;
    color: #222;
}
#related-indicators-subheader-wrapper{
    font-size: 0.9em;
    margin: 0;
    padding: 10px 4px;
    /* @TODO: ideally get height to  align w/tabs bottom */
}
#related-indicators-subheader{
    margin: 0;
}
.sideLink{
    padding: 10% 2%;
    cursor: pointer;
    color: #222;
}
.sideLink:hover{
    color: #75b8c8;
}
.toggle-vr {
    color: #141414;
    font-size: 1.8em;
    font-weight: 200;
    margin: 0 2%;
}
.toggle-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.toggle-wrapper p{
    margin: 0 2% 0 0;
    font-size: 1em;
}
.double-toggle-form{
    display: flex;
}
.chart-src{
    display: block;
    width: 90%;
    margin: 0 auto;
    font-style: italic;
}
/* custom crap for waterfalls */
.waterfall-blue{
    fill: #1f77b4;
}
.waterfall-orange{
    fill: #ff7f0e;
}
.waterfall-grey{
    fill: #c7c7c7;
}


/********************************/
/*********** D3 Views **********/
.data-viz{
    height: 450px;
    width: 90%;
    margin: 0 auto;
    background: #f9f9f9;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 1% 0;
}
.data-viz:last-child{
    margin-bottom: 5%;
}
svg.nvd3-svg{
    display: block;
    height: 100%;
    width: 100%;
}
/* this doesn't work but look into giving the y-axis-labels right space. also tried .nv-y */
/* .nv-axisLabel{
    margin-right: 20px;
} */


/*******************************/
/*********** Footer ***********/
footer{
    height: 25vh;
    padding: 1% 2.5%;
    background: #545454;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer-logo{
    height: 30px;
    width: 85px;
}
#footer-words{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}
#footer-links{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 70%;
}
#footer-social-wrapper{
    width: 70%;
    display: flex;
    justify-content: space-around;

}
.footer-social{
    height: 20px;
    width: 22px;
}


/************************************/
/*********** Transitions ***********/
.fade-out{
    display: none;
}
.fade-in{
    opacity: 1 !important;
}
.fade-right{
    position: absolute;
    margin-left: 100vw;
}
.fade-narrow{
    background: #fcfcfc;
}
.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


/**************************************/
/*********** Media Queries ***********/
@media all and (min-width: 1366px){
    .indicators-grid-item {
        width: 10.5vw;
        height: 10.5vw;
    }
    .icon-set-img{
        height: 135px;
        width: 135px;
    }
    .flipside-img{
        height: 55px;
        width: 55px;
    }
}
/* height query for the category icons situation */
@media all and (max-height: 700px){
    .icon-set-img{
        height: 70px;
        width: 70px;
    }
}
@media all and (max-width: 1100px){
    .indicators-grid-item{
        width: 12vh;
        height: 12vh;
    }
}
@media all and (max-width: 800px){
    /* reset the font-size */
    body{
        font-size: 14px;
    }

    /* Mobile styles for nav */
    #nav-header{
        font-size: 1.3em;
    }
    #nav-social-media a:not(:first-child){
        display: none;
    }
    #dvrpc-logo{
        border-right: none;
        width: 75%
    }
    #logo-help-wrapper{
        width: 50%;
    }
    #help-btn{
        font-size: 1rem;
        margin-left: 20px;
        padding: 3px 10px;
    }
    #tp-logo{
        height: 42px;
    }

    /* Mobile styles for the splash page */
    #tp-header{
        font-size: 1.2rem;
    }
    #tp-header-name{
        width: 100%;
        display: block;
    }
    .splash-text{
        width: 90%;
        line-height: 1.4rem;
        margin-bottom: 4%;
    }
    details{
        margin-bottom: 3%;
    }
    summary{
        font-size: 1rem;
    }
    .gif-row{
        flex-direction: column;
    }
    #to-grid{
        padding: 3px 5px;
    }


    /* Mobile styles for the dashboard page */
    .indicators-wrapper{
        flex-direction: column;
    }
    .indicators-nav{
        height: 11vh;
        background: white;
        position: sticky;
        top: 8vh;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    }
    .indicators-grid-item{
        margin: 1.5%;
    }
    .indicators-icons{
        width: 60%;
        height: 60%;
    }
    .indicators-title{
        height: 40%;
        font-size: 0.8em;
    }
    .icon-set{
        height: 100%;
        width: calc(20% - 3px);
        margin-right: 4px
    }
    .icon-set-img{
        width: 55px;
        height: 55px;
    }
    .icon-set-p{
        font-size: 0.77em;
    }
    .flipside-img{
        height: 25px;
        width: 25px;
    }
    .indicators-nav div:last-child{
        margin-right: 0;
        margin-bottom: 8px;
    }
    .category-active:not(:last-child){
        margin-right: 4px !important;
    }
    .category-active{
        margin-bottom: 0 !important;
    }
    .indicators-grid{
        position: initial;
        width: 100%;
        display: flex;
        margin-left: 0;
    }
    .fade-right{
        margin-left: 100vw;
        display: none;
    }


    /* Mobile styles for the indicator subpages */
    .fade-out{
        display: none;
    }
    .fade-narrow{
        width: 100%;
    }
    .back-to-dash{
        width: auto;
        padding: 0 2vw 0 1vw;
        border-right: 1px solid white;
        font-size: 1em;
    }
    .related-indicators{
        border-top: none;
        flex-direction: row !important;
        justify-content: flex-start;
        align-items: center;
        padding: 1vh 0;
        overflow-x: auto;
    }
    #related-indicators-img{
        margin-left: 5px;
        margin-right: 5px;
        width: 15px;
    }
    #related-indicators-subheader-wrapper{
        padding: 0 5px;
    }
    #related-indicators-subheader-wrapper img{
        height: 28px;
        margin-top: 2px;
    }
    #related-indicators-subheader{
        font-size: 0.8em;
        font-weight: 500;
        margin: 2px 0 0 0;
    }
    .sideLink{
        padding: 0 2vw;
        font-size: 0.8em;
    }
    .indicators-snippet{
        width: auto;
        padding: 7% 3% 4% 3%;
    }
    #indicator-header-wrapper{
        padding-bottom: 7%;
        justify-content: space-between;
        max-width: 95%;
    }
    .indicator-header{
        font-size: 1.4em;
        margin: 0;
        text-align: left;
    }
    .indicator-subheader{
        font-size: 1.1em;
    }
    .snippet-categories{
        height: 33px;
    }
    #description-wrapper{
        width: 100%;
    }
    #description-wrapper-tabs{
        font-size: 0.7rem;
    }
    .toggle-wrapper{
        flex-direction: column;
        margin: 3% 0;
        width: auto;
    }
    .toggle-subheader{
        border-right: none;
        padding-right: 0;
    }
    .toggle-vr {
        display: none;
    }
    .data-viz{
        min-height: 300px;
        max-height: 400px;
        width: 95%;
        margin-top: 5%;
    }
    .nv-legendWrap{
        width: 95vw !important;
        display: flex !important;
    }
    footer{
        font-size: 0.7em;
    }
    #footer-social-wrapper{
        width: 100%;
    }
    .footer-social{
        width: 14px;
        height: 15px;
    }
    #footer-logo{
        height: 25px;
        width: 80px;
    }
}
@media all and (max-width: 450px) {
    .icon-set-img{
        width: 40px;
        height: 40px;
    }
}
@media all and (max-width: 325px) {
    #nav-header{
        font-size: 1.2em;
    }
    .icon-set-img{
        width: 32px;
        height: 32px;
    }
    .icon-set-p{
        font-size: 0.67em;
    }
    .indicators-icons{
        width: 60%;
        height: 60%;
    }
    .indicators-title{
        height: 40%;
        font-size: 0.67em;
    }
}


/* Print Stylesheet */
@media print {
    body :not(.indicators-snippet) {
        display: none;
    }
    .indicators-snippet {
        padding-left: 0;
    }
}