/*********** General Purpose ***********/
* {
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    line-height: 1.5;
}
.hidden{
    display: none;
}
.inactive{
    background: #dadada !important;
    pointer-events: none;
    opacity: 0.5;
    cursor: auto;
}

/*The following are taken from subpage.css*/
a{
    background-color: transparent;
    color: inherit;
}
hr{
    border: 0;
    border-top: 1px solid #ddd;
    height: 0;
    width: 100%;
    box-sizing: content-box;
    clear: both;
}
select{
    margin: 0;
    font: inherit;
    color: inherit;
    text-transform: none;
}
fieldset{
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}


/*********** Navbar ***********/
nav{
    width: 95%;
    margin: 0 auto;
    height: 8vh;
    padding: 0 3%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-header{
    color: #4fa3a8;
    font-weight: 100;
    font-size: 2.2em;
    letter-spacing: 2px;
}
#nav-header-span{
    letter-spacing: 1px;
    font-weight: 900;
    text-shadow: 1px 1px #4fa3a8;
}
.nav-imgs{
    height: 50%;
    width: 50%;
}
#dvrpc-logo{
    display: block;
    float: right;
}


/*********** Indicator Dashboard ***********/
.indicators-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    /* This line is important for switching between indicators. It prevents the flash of the footer shooting up to the top in the brief moment where there's no content. 
    @TODO: keep this in mind if any weird side effects show up */
    min-height: calc(92vh - 8px);
    border-bottom: 8px solid white;
}
.indicators-nav{
    position: absolute;
    height: 100%;
    width: 15vw;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: width 1s;
    -webkit-transition:  width 1s;
    -moz-transition:  width 1s;
    -o-transition:  width 1s;
    transition-timing-function: linear;
    overflow-y: auto;
}
.category-active{
    margin-right: 0 !important;
    color: #f7f7f7 !important;
}
.icon-set{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 8px;
    margin-right: 16px;
    height: 20%;
    width: 100%;
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 1s;
    -webkit-transition: opacity 1s, visibility 1s;
    -moz-transition: opacity 1s, visibility 1s;
    -o-transition: opacity 1s, visibility 1s;
    transition-timing-function: linear;
    overflow-y: hidden;
}
.icon-set:last-child{
    margin-bottom: none;
}
#econo-icon{
    background: #f0cfd0;
    color: #bd2556;
}
#enviro-icon{
    background: #e0e6cf;
    color: #7b9d3e;
}
#comm-icon{
    background: #c6d6ea;
    color: #006ba6;
}
#transpo-icon{
    background: #f9dcc4;
    color: #de6e1d;
}
#equity-icon{
    background: #c6b7cd;
    color: #582267;
}
.indicators-nav div:last-child{
    margin-bottom: 0;
}
.icon-set-img{
    align-self: center;
    height: 100px;
    width: 100px;
}
.icon-set:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-bottom: hidden;
}
.icon-set-p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
.indicators-grid{
    height: calc(92vh - 8px);
    width: 85%;
    background: #e9e9e9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin-left: 15vw;
    transition: margin-left 1s;
    -webkit-transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -o-transition: margin-left 1s;
    transition-timing-function: linear;
}
.indicators-grid-item{
    position: relative;
    border-radius: 3px;
    background: #4fa3a8;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    /* 
    Finish incorporating this to get rid of the resize function
        as it stands, it handles all desktop cases (aka wider than tall). Starts to break down at thinner monitors
        */
    margin: 1%;
    width: 10vw;
    height: 10vw;
}
.blank-grid-item{
    pointer-events: none;
}
.indicators-grid-item:hover{
    cursor: pointer;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.7);
}
.indicators-grid-item:active{
    box-shadow: none;
}
.indicators-icons{
    display: block;
    width: 71%;
    height: 71%;
    margin: 0 auto;
    font-size: 0.6em;
}
.indicators-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    font-size: 0.9em;
    /* icons are 69% so text takes up the remaining 31% */
    height: 29%;
    text-align: center;
    color: #f7f7f7;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}
.flipside{
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #f7f7f7;
    font-size: 0.8em;
}
.flipside-img{
    height: 35px;
    width: 35px;
    margin: 0 auto;
}
.flipside-text{
    padding: 0 1%;
}


/*********** Indicator Pages ***********/
.indicators-snippet{
    opacity: 1;
    /* fallback bg for browsers that don't support linear gradient */
    background: #f2f2f2;
    background: linear-gradient(180deg, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 20%);
    color: #050709;
    /*15vw for the width of the sidebar (for some reason this isn't a flex situation? what?)*/
    padding-left: 15vw;
    width: 100%;
    overflow-y: auto;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition-timing-function: linear;
}
.indicator-header{
    margin: 1.5% 0;
    text-align: center;
    font-size: 2em;
}
.indicator-content-hr{
    margin: 4% 0 2% 0;
}
.indicator-subheader{
    text-align: center;
    font-size: 1.4em;
}
.indicator-header-hr{
    margin: 1% 0;
}
/*category icons*/
.indicator-category-icons{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.snippet-categories{
    margin-right: 2%;
    height: 46px;
    border-radius: 3px;
}
.indicator-description{
    font-size: 1em;
    width: 70%;
    margin: 0 auto;
}
.description-wrapper{
    padding: 3% 0;
}
.back-to-dash{
    color: #f7f7f7;
    display: none;
    width: 100%;
    text-align: center;
    padding-top: 1vh;
    font-size: 1.4em;
    cursor: pointer;
}
.related-indicators{
    display: none;
    border-top: 1px solid #f7f7f7;
    width: 100%;
    text-align: center;
    color: #f7f7f7;
}
.sideLink{
    padding: 10% 2%;
    cursor: pointer;
    color: #f7f7f7;
}
.sideLink:hover{
    color: #75b8c8;
}


/*********** Togglabe Elements **********/
.toggle-subheader{
    border-right: 2px solid #141414;
    padding-right: 1%;
}
.toggle-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-wrapper p{
    padding: 0 1%;
    font-size: 1em;
}
.double-toggle-form{
    display: flex;
}
.toggle-fieldset{
    display: flex;
}


/*********** D3 Views **********/
.data-viz{
    height: 450px;
    width: 90%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 2% 1%;
}
.data-viz:last-child{
    margin-bottom: 5%;
}
.dava-viz svg.nvd3-svg{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 75%;
}


/*********** Footer /***********/
footer{
    height: 25vh;
    padding: 1% 15%;
    background: #545454;
    color: #f7f7f7;
    display: flex;
    align-items: center;
}
#footer-logo{
    height: 30px;
    width: 85px;
}
#footer-words{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}
#footer-links{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 70%;
}
.footer-social{
    height: 20px;
    width: 22px;
}


/*********** Transitions ***********/
.fade-out{
    display: none;
}
.fade-in{
    opacity: 1;
}
.fade-right{
    position: absolute;
    margin-left: 100vw;
}
.fade-narrow{
    background: #222222;
}
.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


/*********** Media Queries ***********/
@media all and (min-width: 1366px){
    .icon-set-img{
        height: 135px;
        width: 135px;
    }
    .data-viz{
        width: 70%;
    }
    .flipside-img{
        height: 55px;
        width: 55px;
    }
}
/* height query for the category icons situation */
@media all and (max-height: 700px){
    .icon-set-img{
        height: 70px;
        width: 70px;
    }
}
@media all and (max-width: 1100px){
    .indicators-grid-item{
        width: 12vh;
        height: 12vh;
    }
}
@media all and (max-width: 800px){
    /* reset the font-size */
    body{
        font-size: 14px;
    }
    /* Mobile styles for nav */
    #nav-header{
        font-size: 1.3em;
    }
    #nav-social-media a:not(:first-child){
        display: none;
    }
    #dvrpc-logo{
        border-right: none;
    }
    .nav-imgs{
        height: 35%;
        width: 35%;
    }
    /* Mobile styles for the dashboard page */
    .indicators-wrapper{
        flex-direction: column;
    }
    .indicators-nav{
        height: 10vh;
        background: white;
        position: sticky;
        top: 0;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    }
    .indicators-grid-item{
        margin: 1.5%;
        width: 11vh;
        height: 11vh;
    }
    .indicators-icons{
        width: 60%;
        height: 60%;
    }
    .indicators-title{
        height: 40%;
        font-size: 0.8em;
    }
    .icon-set{
        height: 100%;
        width: calc(20% - 3px);
        margin-right: 4px
    }
    .icon-set-img{
        width: 55px;
        height: 55px;
    }
    .icon-set-p{
        font-size: 0.77em;
    }
    .flipside-img{
        height: 25px;
        width: 25px;
    }
    .indicators-nav div:last-child{
        margin-right: 0;
        margin-bottom: 8px;
    }
    .category-active:not(:last-child){
        margin-right: 4px !important;
    }
    .category-active{
        margin-bottom: 0 !important;
    }
    .indicators-grid{
        position: initial;
        width: 100%;
        display: flex;
        margin-left: 0;
    }
    .fade-right{
        margin-left: 100vw;
        display: none;
    }

    /* Mobile styles for the indicator subpages */
    .fade-out{
        display: none;
    }
    .fade-narrow{
        width: 100%;
        background: #222222;
    }
    .back-to-dash{
        width: auto;
        padding: 0 2vw 0 1vw;
        border-right: 1px solid white;
        font-size: 1em;
    }
    .related-indicators{
        border-top: none;
        flex-direction: row !important;
        justify-content: flex-start;
        align-items: center;
        padding: 1vh 0;
        overflow-x: auto;
    }
    .sideLink{
        padding: 0 2vw;
        font-size: 0.8em;
    }
    .indicators-snippet{
        width: auto;
        padding: 0 3%;
        margin: 0 auto;
    }
    .indicator-header{
        padding-top: 3%;
        font-size: 1.6em;
    }
    .indicator-subheader{
        font-size: 1.1em;
    }
    .snippet-categories{
        height: 35px;
    }
    .indicator-description{
        width: 90%;
    }
    .toggle-wrapper{
        flex-direction: column;
        margin: 3% 0;
    }
    .toggle-subheader{
        border-right: none;
        padding-right: 0;
    }
    .data-viz{
        min-height: 300px;
        max-height: 400px;
        width: 95%;
    }
    .nv-legendWrap{
        width: 95vw !important;
        display: flex !important;
    }
    footer{
        font-size: 0.7em;
    }
    .footer-social{
        width: 14px;
        height: 15px;
    }
    #footer-logo{
        height: 25px;
        width: 80px;
    }
}
@media all and (max-width: 450px) {
    .icon-set-img{
        width: 40px;
        height: 40px;
    }
}
@media all and (max-width: 325px) {
    #nav-header{
        font-size: 1.2em;
    }
    .icon-set-img{
        width: 32px;
        height: 32px;
    }
    .icon-set-p{
        font-size: 0.67em;
    }
    .indicators-icons{
        width: 60%;
        height: 60%;
    }
    .indicators-title{
        height: 40%;
        font-size: 0.67em;
    }
}