/*** Navbar ***/
nav{
    position: fixed;
    width: 100%;
    z-index: 15;
    padding: 1% 180px 1% 180px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,.175);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    list-style-type: none;
}
nav ul li{
    margin: 0 1% 0 1%;
}
#navInput{
    border-radius: 3px;
    outline: none;
}

/*** General Purpose ***/
body{
    margin: 0;
    overflow-x: hidden;
}
.hidden{
    display: none;
}
.category-active{
    background: #666;
    font-weight: 800;
}


#title{
    text-align: center;
    margin: 0;
    padding: 3vh 0 3vh 0;
    background: #f7f7f7;
    color: #3E6990;
    border-bottom: 10px solid #121212;
}


/*** Main Indicator Wrapper ***/
.indicators-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    height: calc(93vh - 29px);
    overflow-y: auto;
    overflow-x: hidden;
}
.indicators-nav{
    position: absolute;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #333;
    transition: width 1.4s;
    transition-timing-function: linear;
}
.back-to-dash{
    color: #f7f7f7;
    display: none;
    width: 100%;
    text-align: center;
    padding: 5vh 0 5vh 0;
    font-size: 20px;
    cursor: pointer;
}
.indicators-nav img{
    height: 80px;
    width: 80px;
}
.icon-set{
    width: 100%;
    text-align: center;
    padding: 10% 0 10% 0;
    opacity: 1;
    visibility: visible;
    transition: opacity 1.4s, visibility 1.4s;
    transition-timing-function: linear;
}
.icon-set:hover{
    cursor: pointer;
}
.icon-set p{
    text-align: center;
    margin: 0;
    color: #f7f7f7;
}
.indicators-grid{
    position: absolute;
    height: 100%;
    width: 80%;
    background: #666;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    margin-left: 20%;
    transition: opacity 1.4s, margin-left 1.4s;
    transition-timing-function: linear;
}
.indicators-grid-item{
    position: relative;
    margin: 1%;
    height: 14%;
    width: 14%;
    background: #F1E9DB;
}
.indicators-grid-item:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}
.indicators-title{
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 2% 0;
    text-align: center;
    color: #333;
    background: rgba(51, 51, 51, 0.1);
}
.economy-indicator{
    border-bottom: 3px solid orange;
}
.environment-indicator{
    border-bottom: 3px solid purple;
}
.other-indicator{
    border-bottom: 3px solid black;
}
.commerce-indicator{
    border-bottom: 3px solid green;
}
.equity-indicator{
    border-bottom: 3px solid red;
}

/*** Transitions ***/
.fade-out{
    opacity: 0;
    visibility: hidden;
}
.fade-right{
    opacity: 0;
    margin-left: 100vw;
}
.fade-narrow{
    width: 10%;
}

/*** Indicator Pages ***/
.indicators-snippet{
    margin-left: 10%;
    width: 100%;
}

/*** Footer ***/
footer{
    overflow-x: hidden;
    bottom: 0;
    line-height: 35px;
    background: #545454;
    color: #fff;
    padding: 5% 1% 5% 1%;
    display: flex;
    justify-content: space-between;
}