/* reset the font-size */
body{
    font-size: 14px;
}

/* Hide elements */
.emoji-spacer, .splash-map-figure, .fade-right, #to-top-btn{
    display: none;
}

/* Mobile styles for nav */
#header{
    height: 6vh;
}
#dvrpc-logo{
    border-right: none;
    height: 26px;
}
#logo-help-wrapper{
    width: 50%;
}
#help-btn{
    font-size: 1rem;
    margin-left: 15px;
    padding: 3px 9px;
}
#tp-logo{
    height: 30px;
}

/* Mobile styles for the splash page */
#splash-page{
    margin-top: 6vh;
    padding: 2% 3%;
}
.tp-header{
    font-size: 1.2rem;
}
#tp-header-name{
    width: 100%;
    display: block;
}
.splash-map-wrapper, .details-text-content{
    flex-direction: column;
    padding: 0;
}
.splash-text{
    width: 100%;
    margin: 1% auto;
    line-height: 1.4rem;
}
.text-right{
    text-align: left;
}
summary, #get-started, #to-grid{
    font-size: 1em;
}
.gif-row{
    flex-direction: column;
}
.gif-figure{
    margin-bottom: 5%;
}
#emojis-description{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}
#emojis-row{
    flex-wrap: wrap;
    justify-content: center;
}
.emoji-figure{
    width: 20%;
}
.emoji-figure img{
    width: 30px;
    height: 30px;
}
#to-grid{
    padding: 3px 5px;
    margin-bottom: 6px;
}


/* Mobile styles for the dashboard page */
.indicators-wrapper{
    flex-direction: column;
    border-top: none;
    min-height: calc(94vh - 16px);
}
.indicators-nav{
    background: white;
    position: sticky;
    top: 6vh;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
#filter-type-form{
    width: 100%;
    padding: 10px 0;
    font-size: 0.8em;
}
.indicators-grid-item{
    margin: 1.5%;
    width: 22vw;
    height: 22vw;
}
.indicators-icons{
    width: 60%;
    height: 60%;
}
.indicators-title{
    font-size: 0.8em;
}
.icon-set{
    height: 62px;
    width: calc(20% - 4px);
    margin-right: 4px;
    margin-bottom: 4px;
}
.icon-set-img{
    height: 40px;
}
.icon-set-p{
    font-size: 0.77em;
}
.flipside-img{
    display: none;
}
#equity-icon{
    margin-bottom: auto;
}
.indicators-nav div:last-child{
    margin-right: 0;
    margin-bottom: 4px;
}
.category-active:not(:last-child){
    margin-right: 4px !important;
}
.category-active{
    margin-bottom: 0 !important;
}
.indicators-grid{
    position: initial;
    width: 100%;
    margin-left: 0;
}
.fade-right{
    margin-left: 100vw;
}


/* Mobile styles for the indicator subpages */
.back-to-dash{
    width: 17%;
    padding: 0 2px;
    border-right: 1px solid white;
    font-size: 0.9em;
}
.related-indicators{
    width: 82%;
    border-top: none;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}
#related-indicators-img{
    margin-left: 5px;
    margin-right: 5px;
    width: 15px;
}
.emoji-set-img{
    width: 25px;
    height: 25px;
}
#related-indicators-subheader-wrapper{
    display: flex;
    align-items: center;
}
#related-indicators-subheader-img{
    width: 25px;
    margin: 0 5px;
    max-width: none;
    height: auto;
}
#related-indicators-subheader{
    font-size: 0.8em;
    font-weight: 500;
    padding-bottom: 2px;
}
.sideLink{
    padding: 0 2vw;
    font-size: 0.8em;
}
.indicators-snippet{
    width: auto;
    padding: 7% 3% 4% 3%;
}
#indicator-header-wrapper{
    justify-content: space-between;
    max-width: none;
    width: 100%;
}
.indicator-header{
    font-size: 1.4em;
    margin: 0;
}
.indicator-subheader{
    font-size: 1.1em;
}
.snippet-categories{
    height: 26px;
}
#description-wrapper{
    width: 100%;
}
#description-wrapper-tabs{
    font-size: 0.7rem;
}
#indicator-description-container{
    padding: 1% 4% 0 4%
}
.toggle-wrapper{
    flex-direction: column;
    margin: 3% 0;
    width: auto;
}
.toggle-wrapper form, select{
    font-size: 0.8em;
}
.double-toggle-form fieldset:last-child{
    text-align: right;
}
.toggle-subheader{
    border-right: none;
    padding-right: 0;
}
.data-viz{
    min-height: 300px;
    max-height: 400px;
    width: 100%;
}
.chart-src{
    width: auto;
    font-size: 0.8em;
}
.nv-series text{
    font-size: 9px;
}


/* Mobile styles for the footer */
footer{
    padding: 10% 0;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
}
#footer-logo{
    width: 65px;
}
#footer-words{
    margin-bottom: 6%;
}
#footer-contact-wrapper{
    width: 60%;
    text-align: center;
}
.vr, .footer-social{
    height: 15px;
}
#email-icon{
    height: 14px;
}